<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block>
    <nav th:fragment="navFragment" class="nav">
        <div class="inner">
            <ul class="main_nav">
                <li>
                    <a th:href="@{#}">365일 즐거운 키즈월드</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">KidsPlace 소개</a></li>
                            <li><a th:href="@{#}">이용 안내 및 규칙</a></li>
                            <li><a th:href="@{#}">요금안내표</a></li>
                            <li><a th:href="@{#}">내부시설 둘러보기</a></li>
                            <li><a th:href="@{#}">기본연혁</a></li>
                            <li><a th:href="@{#}">찾아오시는길</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">여기저기 키즈월드</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">경기 킨텍스</a></li>
                            <li><a th:href="@{#}">부산 벡스코</a></li>
                            <li><a th:href="@{#}">대구 벡스코</a></li>
                            <li><a th:href="@{#}">광주 김대중컨벤션</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">리얼후기</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">리뷰 전시회</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{../community/notice}">공지사항</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{../community/notice}">공지드립니다</a></li>
                            <li><a th:href="@{#}">자주 묻는 질문</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">이벤트</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">진행중인 이벤트</a></li>
                            <li><a th:href="@{#}">예정된 이벤트</a></li>
                            <li><a th:href="@{#}">종료된 이벤트</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a th:href="@{#}">키즈월드커뮤니티</a>
                    <div class="sub_nav">
                        <ul>
                            <li><a th:href="@{#}">QnA</a></li>
                            <li><a th:href="@{#}">1:1상담</a></li>
                            <li><a th:href="@{#}">가맹문의</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sub_nav_bg"></div>
    </nav>


    <!--  nav script  -->
    <script>
        const main = document.querySelectorAll(".main_nav");
        const nav = document.querySelectorAll(".nav");
        const subbg = document.querySelectorAll(".sub_nav_bg");

        for(let i=0; i<main.length; i++){
            main[i].addEventListener("mouseover", function(){
                main[i].classList.add("on");
                subbg[i].classList.add("on");
            })
        }

        for(let i=0; i<nav.length; i++){
            nav[i].addEventListener("mouseout", function(){
                main[i].classList.remove("on");
                subbg[i].classList.remove("on");
            })
        }
    </script>
</th:block>
</html>