<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:include="/fragment/head"></div>
    <div th:include="/fragment/header"></div>
    <div th:include="/fragment/nav"></div>

    <div class="content">
        <div class="inner">
            <h2>유저리스트 페이지 테스트</h2>
            <hr>
            <table>
                <tr>
                    <th>유저코드</th>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>우편번호</th>
                    <th>주소</th>
                    <th>생성일자</th>
                </tr>
                <tr th:each="user : ${user}">
                    <td th:text="${user.USER_CODE}"></td>
                    <td th:text="${user.USER_ID}"></td>
                    <td th:text="${user.USER_PW}"></td>
                    <td th:text="${user.USER_NAME}"></td>
                    <td th:text="${user.USER_BIRTH}"></td>
                    <td th:text="${user.USER_PHONE}"></td>
                    <td th:text="${user.USER_EMAIL}"></td>
                    <td th:text="${user.USER_ADD_POST}"></td>
                    <td th:text="${user.USER_ADD} + ' ' + ${user.USER_ADD_DETAIL}"></td>
                    <td th:text="${user.USER_REGDATE}"></td>
                </tr>
            </table>
        </div>
    </div>

    <div th:include="/fragment/footer"></div>
</body>
</html>